version: 2
jobs:

  build_and_test:
    working_directory: /home/circleci/mriqcwebapi

    machine:
      image: circleci/classic:201711-01
      
    environment:
      - SECRET_KEY: CI
      - MONGODB_HOST: mongodb
      - MONGODB_PORT: 27017
      - API_TOKEN: <secret_token>
      - API_URL: "http://localhost/docs/api"
    
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install docker-compose
            pip install requests
      - run:
          name: Set-up dockereve
          command: |
            mkdir -p dockereve-master/nginx/.ssl
            touch dockereve-master/nginx/.ssl/mriqcep.crt
            touch dockereve-master/nginx/.ssl/mriqcep.key
            docker pull mongo:latest swaggerapi/swagger-ui:v3.0.12 nginx:latest
            docker-compose -f dockereve-master/docker-compose.yml build
      - run:
          name: Start server
          command: docker-compose -f dockereve-master/docker-compose.yml up -d
      - run:
          name: Test MRIQC WebAPI
          command: python test/testGetPost.py

workflows:
  version: 2
  webapi:
    jobs:
      - build_and_test:
          filters:
            tags:
              only: /.*/
